{% extends "template.html" %}

{% block body %}
<div class="container">
    <h1 class="title">Welcome</h1>
    <p>
        This is the lab environment for proxy extension / plugin demos and labs. These are intended to work for Burp Suite and ZAP.
    </p>

    <p class="mt-2">
        To proceed, first make sure you are able to view this page through your interception proxy (Burp or ZAP), then select
        a lab from the menu at the top of the page to receive additional instructions.
    </p>
</div>
{% endblock %}
